<div *ngIf="images.length > 0" class="gallery">
  <!-- Galeria de Imagens do Álbum Selecionado -->
  <div *ngFor="let image of images" class="thumbnail" (click)="openModal(image)">
    <img [src]="'assets/' + image" alt="Imagem do Álbum">
  </div>
</div>

<div *ngIf="isModalOpen" class="modal" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <img [src]="'assets/' + selectedImage" alt="Imagem grande" class="img-fluid" (click)="closeModal()"/>
    <button class="btn btn-secondary close-btn" (click)="closeModal()">Fechar</button>
  </div>
</div>
